<ion-view view-title="InterestedIn">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Event 1 : 12:00 pm</div>
      <div class="item item-body">
        <div>
          Let's Grill Out By the Pool!</b>
          <b>Invites Accepted : 4/7</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Event 2 : 3:00 pm</div>
      <div class="item item-body">
        <div>
          Pick up game of Frisbee
    ''      <b>Invites Accepted : 7/14</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Event 3 : 9:00 pm</div>
      <div class="item item-body">
        <div>
        Drinks at Stadia
        <b>Invites Accepted : 3/5</b>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
